.studio__home {
  display: flex;
  flex-direction: column;
  color: var(--color-text-parchment);
  font-family: var(--font-family);
}

.studio__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 8rem 4rem;
}

.studio__header-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.studio__header-content-title h1 {
  font-family: var(--font-title);
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.studio__header-content p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 1050px) {
  .studio__header {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .studio__header-content p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 490px) {
  .studio__header {
    padding: 7rem 1rem 3rem 1rem;
  }

  .studio__header-content-title h1 {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .studio__header-content p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 430px) {
  .studio__header-content-title h1 {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 390px) {
  .studio__header-content-title h1 {
    font-size: 0.9rem;
    line-height: 2rem;
  }

  .studio__header-content p {
    font-size: 0.9rem;
    line-height: 1.7;
  }
}

@media screen and (max-width: 330px) {
  .studio__header {
    padding: 5rem 0.5rem 3rem 0.5rem;
  }
}
